body{
    background-color: darkgray;
    overflow: scroll;
    margin: 0 5% 0 5%;
}
.pane{
    border: 2px solid black;
    position: relative;
    height: 35vh;
    margin: 20px 0 20px 0;
    padding: 10px;
    overflow: scroll;
    background-color: unset;
}