name: Build And Publish

on:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  buildAndPublish:

    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write
      id-token: write

    strategy:
      matrix:
        node-version: [22.x]

    steps:
    - uses: actions/checkout@v4
      with:
          persist-credentials: false

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        registry-url: 'https://registry.npmjs.org'

    - run: npm ci

    - name: Build
      run: npm run build

#    - name: Copy some files to the dist folder
#      run: |
#        cp CNAME dist/

    - name: Publish to npm via Trusted Publisher (OpenID Connect)
      run: npm publish

    - name: Deploy
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./dist
        publish_branch: dist
        full_commit_message: '${{ github.event.head_commit.message }} (Deployed via GitHub Actions)'
        user_name: 'github-actions[bot]'
        user_email: 'github-actions[bot]@users.noreply.github.com'